body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F75D59;
    font-family: Verdana, Geneva, sans-serif;
}

#form-names {
    background-color: #F2F2F2;
    /*display: inline;*/
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 20px;
}

#form-names h2 {
    margin-top: 40px;
}

#form-names h2:first-of-type {
    margin-top: 0;
}

#form-names table,
#form-names table input,
#form-names textarea {
    width: 100%;
}

#form-names table input {
    margin: 0 5px 0 0;
    box-sizing: border-box;
}

.help ul {
    font-family: monospace;
}

input[name="subject"] {
    width: 100%;
    margin: 5px 0;
}